/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2021, 10:51:39 AM
    Author     : omniahassan
*/

.tablebtn{

    border-radius: 15px;
    border: 1px solid  #cccccc;
    border-color: #5a88ca;
    color: black;
    /*color: #eeeeee;*/
    text-align: center;
    font-size: 14px;
    width: 120px;
    height:30px ;
    cursor: pointer;
    background-color: white;
    
}
.tablebtn:hover {
    background-color: lightsteelblue;
     border-color: white;
     /*color:lightsteelblue;*/
}

.removebtn{
     border-radius: 5px;
     background-color: white;
     cursor: pointer;
     border-color: #5a88ca;
}

.removebtn:hover{
     
     background-color: tomato;
     border-color: transparent;
    
}


